body{
    background-image: url("../images/1.png");
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0 auto;
}

#btn-one{
    background-color: #845cff;
    color: white;
}
#navbar-nav{
    color: #46466d;
}
#col-1{
    margin-top: 13%;
}

#col-1 h2{
    color: #32325d;
    font-size: 37px;
}
#col-1 p{
    color: #929aae;
    font-size: 22.5px;
}
#col-1 span{
    color: #4d4d73;
}

#btn-two{
    background-color: #845cff;
    color: white;
}

#section-one{
    margin-top: 250px;
}
#col-2{
    padding-top: 175px;
}

#col-2 h2{
    font-size: 40px;
    color: #32325d;
}

#col-2 p{
    font-size: 19px;
    color: #32325d;
}

#col-3 h2{
    font-size: 30px;
    color: #32325d;
}

#col-3 p{
    font-size: 19px;
    color: #586584;
}

#col-4 h2{
    font-size: 30px;
    color: #32325d;
}

#col-4 p{
    font-size: 18px;
    color: #586584;
}


#col-5 h2{
    font-size: 30px;
    color: #32325d;
}

#col-5 p{
    font-size: 18px;
    color: #586584;
}

#section-two h1{
    color: #34345f;
}
#section-two p{
    color: #989fb2;
    font-size: 19px;
}

#col-6 h5{
    color: #606176;
}
#col-6 p{
    color: #77819b;
}

#col-7 h2{
    color: #32325d;
    font-size: 60px;
}

#col-7 p{
    color: #929aae;
    font-size: 25px;
}

#col-7 span{
    color: #4d4d73;
}

#btn-two{
    background-color: #845cff;
    color: white;
}

#col-7-1 h3{
color: #32325d;
}

#col-7-1 p{
    font-size: 19px;
    color: #586584;
}

#col-8 img{
    height: 500px;
}

#col-9 h2{
    color: #32325d;
    font-size: 45px;
}

#col-9 p{
    color: #929aae;
    font-size: 25px;
}
#col-9-1 h3{
    color: #32325d;
}

#col-9-1 p{
    font-size: 19px;
    color: #586584;
}

#col-10 img{
    height: 400px;
}
#col-11 h2{
    color: #32325d;
    font-size: 40px;
}
#col-11 p{
    color: #929aae;
    font-size: 19px;
}

#col-12 h4{
    color: #32325d;
}

#col-12 p{
    color: #7d7d98;
    font-size: 20px;
}

#col-13 h4{
    color: #32325d;
    font-size: 25px;
}

#col-13 p{
    color: #7d7d98;
    font-size: 18px;
}

#col-14 h1{
    color: #3e3f59;
}
#col-14 p{
    color: #5e5f76;
}

#col-16{
    line-height: 2;
}
#col-17{
    line-height: 2.75;
}
#col-18{
    line-height: 2.75;
}
#col-19{
    color: #434264;
}

#btn-three{
    color: #845cff;
}

#input{
border: 1px solid white;
}

#footer{
    background-color: #212240;
}